.main {
    .title {
      line-height: 44px;
      font-weight: 900;
      font-size: 40px;
    }
    .date{
      font-size: 13px;
      margin-top: 1rem;
    }
    .desc {
      padding-top: 2rem;
    }
  }